body {
    background-color: #fff;
    color: #757575
}
/*main color #00000
second color rgba(0, 0, 0, 0.8)
color head white 
/* accent color 2196F3 */
/* what we do #E5E5E5; */
/* our team part color 
#F5F4FA */
/* footer background 
#2F303A */

.logo {
    color: #2196F3;

}
